.container {
  width:1080px;
  margin:0px auto;
  font-size:1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}


#ver_clases a{
  display: inline-block;
  border: 1px solid black;
  border-radius: 10%;
  margin: 8px;
  padding: 2px;
  background-color: black;
  color: white;
  font-weight: bold;
}

#ver_clases a:hover {
  background: white;
  color: black;
}


#mostrar_clases{
  width: 90%;
  height: auto;
  margin: 2%;
  background: -webkit-linear-gradient(45deg, rgb(0, 0, 0), rgb(105, 105, 105) , white);
  padding: 5px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
}

#margin_bottom{
  margin-bottom: 50px;
}

.tablas{
  width: 90%;
  height: auto;
  float: flex;
  margin-bottom: 20px;
}

.tablas table{
  border-collapse: collapse; 
  margin: 25px 0; 
  font-size: 1em; 
  font-family: sans-serif; 
  min-width: 450px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tablas tr { background-color:gray; 
  color: #ffffff; 
  text-align: center; 
}
.tablas th, td { 
  padding: 12px 15px; 
}
.tablas tbody tr { 
  border: 1px solid #dddddd;
}
.tablas tbody tr:nth-of-type(even) { background-color: #252525; }
.tablas tbody tr:last-of-type { border-bottom: 2px solid #009879; }


#agregar_prod{
  width: 100%;
  height: auto;
  text-align: center;
  background: -webkit-linear-gradient(45deg, blue, white, blue);
}
.tablas a{
  color: white;
  font-weight: bold;
}
#agregar_prod form input{

  width: 50%;
	height: 30px;
	background-color: rgb(201, 201, 201);
	margin: 10px 25% 10px 25%;
	border: 2px solid black;
	box-shadow:  4px 3px 2px 0 #000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 3%;
	color: white;
}


.add_class {
  width: 100%;
  height: auto;
  text-align: center;
  background: -webkit-linear-gradient(45deg, blue, white, blue);
}

.add_class form input {
  width: 50%;
	height: 30px;
	background-color: rgb(201, 201, 201);
	margin: 10px 25% 10px 25%;
	border: 2px solid black;
	box-shadow:  4px 3px 2px 0 #000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 3%;
	color: white;
}
.add_class textarea{
  width: 50%;
	height: 150px;
	background-color: rgb(201, 201, 201);
	margin: 10px 25% 10px 25%;
	border: 2px solid black;
	box-shadow:  4px 3px 2px 0 #000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 3%;
	color: white;
}
.add_class button {
  width: 20%;
	height: 30px;
	color: white;
	background-color: rgb(61, 60, 60);
	margin: 20px auto 20px auto;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px 8px 8px 8px;
  display: block;
}

.add_class button:hover {
  background: white;
  color: black;
}

.add_class label {
  color: #B4886B;
  font-weight: bold;
  display: block;
}
.add_class label:after { content: ": " }





#comentario{ 
  width: 90%;
  height: auto;
  margin: 2%;
  background: -webkit-linear-gradient(45deg, rgb(0, 0, 0), rgb(105, 105, 105) , white);
  padding: 6px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
}

#comentario h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#comentario h6{
  font-size: 5px;
} 

#img_din{
  width: 100%;
  height: auto;
}

#img_din img{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px auto auto auto;
}


header {
  text-align:center;
  border: 1px solid #666;
  background: #cccccc;
}
a {
  color: #333;
  text-decoration: none;
}
section,aside {
  margin-top: 5px;
  padding: 10px;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
section {
  float: left;
  width: 70%;
  background: #fafafa;
  border: 1px solid #ccc;
}
aside {
  float: right;
  width: 25%;
  background:#ccc;
  color: #333;
}
nav {
  padding:0.2%;
  background:#f06156;
  margin-top: 0.5%;
}
nav ul {
  list-style-type:none;
  padding:0px;
  width: 100%;
  display: table;
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}
nav ul li a {
 display:inline-block;
 text-align:center;
 text-decoration:none;
 color: #75302a;
 font-weight: bold;
  padding:6px 15px;
  margin:2px;
  background:#fafafa;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}
footer a {
  color: #fff;
}

h2 {
  color: #f06156;
}

h4{
  color: Blue;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color:#666 ;
}
/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:98%;
  }
  section {
    width:68%;
  }
}
 
/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
    background:#333;
    color: #fff;
  }
  nav ul {
    float:none;
    clear:both;
  }
}
 
 
/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#333;
    color: #fff;
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }
}